@if (VisualNodeHolder != null)
{
    <div class="node-holder">
        @foreach (var visualNode in VisualNodeHolder.VisualNodes)
        {
            if (visualNode.Showed)
            {
                <NodeComponent VisualNode="@visualNode" OnNodePinSelect="@OnNodePinSelect" OnNodePinConnect="@OnNodePinConnect" />
            }
        }
    </div>
}

@code {
    [Parameter]
    public VisualNodeHolder VisualNodeHolder { get; set; }
    [Parameter]
    public Action<MouseEventArgs, VisualNode> OnNodePinSelect { get; set; }
    [Parameter]
    public Action<MouseEventArgs, VisualNode, int> OnNodePinConnect { get; set; }
}
