* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #424242;
}

img {
    cursor: pointer;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.input-pin {
}


.multiply-input-pins {
    display: inline-block;
}

.multiply-input-pin {
    display: block;
    margin-top: 10px;
}

.output-pin {
}

.closebutton {
    cursor: context-menu;
    margin-left: 10px;
}

.main-node {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.main-node-header {
    position: fixed;
    width: 100%;
    padding: 10px;
    background-color: #212121;
    color: #fff;
}

.main-node-header-left-buttons {
    margin-left: 25px;
    display: inline-block;
    float: left;
}

.main-node-header-right-buttons {
    margin-right: 25px;
    display: inline-block;
    float: right;
}

.main-node-header-button {
    height: 32px;
    width: 32px;
    margin-left: 10px;
    margin-right: 10px;
}

.main-node-header-text {
    margin-left: 10px;
    margin-right: 10px;
    display: inline-block;
    color: #fff;
    font-size: 32px;
}

.node-header-text {
    color: #fff;
    text-align: left;
}

.node-window-header-text {
    display: inline-block;
    color: #fff;
}

.node {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.node-holder {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #424242;
    border: 1px solid #424242;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.node-window {
    background-color: #424242;
    border: 1px solid #424242;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.node-window-header {
    padding: 10px;
    background-color: #212121;
    color: #fff;
}

.node-window-header-left-buttons {
    display: inline-block;
    float: left;
}

.node-window-header-right-buttons {
    display: inline-block;
    float: right;
}

.node-window-header-button {
    margin-left: 10px;
    margin-right: 10px;
}

.input-container {
    margin: 5px;
    display: inline-block;
    position: relative;
}

    .input-container label {
        position: absolute;
        left: 0px;
        top: -12px;
        font-size: 12px;
        color: #fff;
        transition: all 0.5s ease-in-out;
    }

    .input-container input {
        border: 0;
        border-bottom: 1px solid #555;
        background: transparent;
        font-size: 16px;
        color: #fff;
    }

        .input-container input:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #e74c3c;
        }
