* {
    font-family: 'Ubuntu', sans-serif;
}

body {
    margin: 0;
}

/* width */
::-webkit-scrollbar {
    width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
    background: #424242;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

.iconify {
    cursor: pointer;
}

.iconify-small {
    color: #fff;
    width: 24px;
    height: 24px;
}

.iconify-main {
    color: #fff;
    width: 48px;
    height: 48px;
}

.iconify-inputpin {
    position: absolute;
    left: -12px;
    color: red;
    width: 24px;
    height: 24px;
}

.iconify-outputpin {
    position: absolute;
    right: -12px;
    color: green;
    width: 24px;
    height: 24px;
}

.main-node {
    height: 100vh;
    width: 100vw;
    background-color: #424242;
}

.main-node-header {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100vw;
    background-color: #212121;
}

.main-node-header-element {
    margin-left: 25px;
    margin-right: 25px;
}

.main-node-header-text {
    width: 100vw;
    font-size: 32px;
    color: #fff;
}

.node-window {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #424242;
    border: 1px solid #424242;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.node-window-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #212121;
}

.node-window-header-element {
    margin-left: 10px;
    margin-right: 10px;
}

.node-window-header-text {
    color: #fff;
}


.node-header-text {
    color: #fff;
}


.node {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node-element {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.node-element-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.node-holder {
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: #424242;
    border: 1px solid #424242;
    text-align: center;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.input-container {
    margin: 5px;
    display: inline-block;
    position: relative;
}

    .input-container label {
        position: absolute;
        left: 0px;
        top: -12px;
        font-size: 12px;
        color: #fff;
        transition: all 0.5s ease-in-out;
    }

    .input-container input {
        border: 0;
        border-bottom: 1px solid #555;
        background: transparent;
        font-size: 16px;
        color: #fff;
    }

        .input-container input:focus {
            border: none;
            outline: none;
            border-bottom: 1px solid #e74c3c;
        }



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: #424242;
    min-width: 250px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    z-index: 2;
}

/* Links inside the dropdown */
.dropdown-content-element {
    cursor: pointer;
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

    /* Change color of dropdown links on hover */
    .dropdown-content-element:hover {
        background-color: #363636;
    }


/* The Modal (background) */
.modal-background {
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    margin-top: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
