@page "/"

<div class="main">
    <div class="header">
        <div class="header-element">
            <span class="iconify iconify-main" data-icon="mdi:menu" data-inline="false"></span>
        </div>
        <div class="header-title">
            <span>Header</span>
        </div>
    </div>

    <div class="body">
        <div class="body-left">
        </div>
        <div class="body-center">
        </div>
        <div class="body-right">
            
        </div>
    </div>

    <div class="footer">

    </div>
</div>

@code {

}